<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	 <title>Member</title>
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css" />
	
	<script>
	$(document).ready(function(){
	  $(".drop_arrow").click(function(){
		$("#city_info").slideToggle();
		
	  });
	  
	  $(".settings_arrow").click(function(){
		$("#settings_info").slideToggle();
		
	  });
	  
	});
	</script>
	
</head>
<body>
	
	<div id = "wrapper-main-container">		
		<div id = "wrapper-main">
			<div id = "wrapper-main-head"></div>
			<div id = "wrapper-main-top"></div>
			<div id = "wrapper-980">
				<div id = "wrapper">
					<div id = "header">
						<div id = "top-wrap">
							<div id = "top_left">	
								<p>Barrie</p>
								<p class = "drop_arrow"><img src = "images/dropdown_arrow.png" alt = "" /></p>
								<div id = "city_info">
									<ul>
										<li><a href = "">Barrie</a></li>
										<li><a href = "">Bardford</a></li>
										<li><a href = "">Innisfil</a></li>
										<li><a href = "">Keswick</a></li>
										<li><a href = "">Newmarket</a></li>
										<li><a href = "">Richmond Hill</a></li>
									</ul>
								</div>
							</div>
							<div id = "top_right">
								<ul>
									<li><p><a href = "">My Account</a></p></li>
									<li><p><a href = "">Rick Brooks</a></p></li>
									<p class = "settings_arrow"><img src = "images/down_arrow.png" alt = "" /></p>
								</ul>
								<div id = "settings_info">
									<ul>
										<li><a href = "">My Account</a></li>
										<li><a href = "">My Special Offers</a></li>
										<li><a href = "">My Reward Bucks</a></li>
										<li><a href = "">My Subscription</a></li>
										<li><a href = "">My Card History</a></li>
										<li><a href = "">Sign Out</a></li>
									</ul>
								</div>
								<div class = "clear"></div>
							</div>
							<div class = "clear"></div>
						</div>
						<div id = "top-2-wrap">
							<div id = "reg-card">
								<img src = "images/card_img.png" alt = "" />
							</div>
							<div id = "reg-con">
								<h2>Your Neighbourhood Rewards Card</h2>
								<p>Show.Swipe.Save. It's that easy!</p>
								<!-- <p>Particpating Locations: <br />
								341 Yonge Street, Barrie (705)722-3113<br />
								221 Mapleview Drive West, Barrie (705)722-7576</p> -->
								
								
							</div>
						</div>
		
					</div><!-- end of header -->
					
					
					
					
					<div id = "wrap">
						<div id = "main_content">
							<div id = "nav_menu">
								<ul>
									<a href = "index.html"><li class = "menu_1 current"></li></a>
									<a href = "auto.html"><li class = "menu_2"></li></a>
									<a href = "family.html"><li class = "menu_3"></li></a>
									<a href = "food_and_dining.html"><li class = "menu_4"></li></a>
									<a href = "health_and_beauty.html"><li class = "menu_5"></li></a>
									<a href = "home_and_garden.html"><li class = "menu_6"></li></a>
									<a href = "services.html"><li class = "menu_7"></li></a>
									<a href = "shopping.html"><li class = "menu_8"></li></a>
									<a href = "travel_and_leisure.html"><li class = "menu_9"></li></a>
								</ul>
							</div>
							<h1>Ricktag Home <span>in Barrie</span></h1>
							
					
							
							<div id = "list">
								<ul>
									<li>
										<img src = "images/img-1.png" alt = "" />
										<div class = "list_info">
											<div class = "_info">
												<p style = "color:#fff; font-size:14px;"> Sample Test<p>
												<p style = "color:#83868d;"> Category<p>
											</div>
											<div class = "_info_price">
												<p style = "color:#fedf08; font-size:20px; margin-bottom:5px;">$25<p>
												<p><img src = "images/vide_deal_btn.png" alt = "" /><p>
											</div>
											<div class = "clear"></div>
										</div>
									</li>
									<li>
										<img src = "images/img-2.png" alt = "" />
										<div class = "list_info">
											<div class = "_info">
												<p style = "color:#fff; font-size:14px;"> Sample Test<p>
												<p style = "color:#83868d;"> Category<p>
											</div>
											<div class = "_info_price">
												<p style = "color:#fedf08; font-size:20px; margin-bottom:5px;">$25<p>
												<p><img src = "images/vide_deal_btn.png" alt = "" /><p>
											</div>
											<div class = "clear"></div>
										</div>
									</li>
									<li>
										<img src = "images/img-3.png" alt = "" />
										<div class = "list_info">
											<div class = "_info">
												<p style = "color:#fff; font-size:14px;"> Sample Test<p>
												<p style = "color:#83868d;"> Category<p>
											</div>
											<div class = "_info_price">
												<p style = "color:#fedf08; font-size:20px; margin-bottom:5px;">$25<p>
												<p><img src = "images/vide_deal_btn.png" alt = "" /><p>
											</div>
											<div class = "clear"></div>
										</div>
									</li>
									
									
									
									<li>
										<img src = "images/img-1.png" alt = "" />
										<div class = "list_info">
											<div class = "_info">
												<p style = "color:#fff; font-size:14px;"> Sample Test<p>
												<p style = "color:#83868d;"> Category<p>
											</div>
											<div class = "_info_price">
												<p style = "color:#fedf08; font-size:20px; margin-bottom:5px;">$25<p>
												<p><img src = "images/vide_deal_btn.png" alt = "" /><p>
											</div>
											<div class = "clear"></div>
										</div>
									</li>
									<li>
										<img src = "images/img-2.png" alt = "" />
										<div class = "list_info">
											<div class = "_info">
												<p style = "color:#fff; font-size:14px;"> Sample Test<p>
												<p style = "color:#83868d;"> Category<p>
											</div>
											<div class = "_info_price">
												<p style = "color:#fedf08; font-size:20px; margin-bottom:5px;">$25<p>
												<p><img src = "images/vide_deal_btn.png" alt = "" /><p>
											</div>
											<div class = "clear"></div>
										</div>
									</li>
									<li>
										<img src = "images/img-3.png" alt = "" />
										<div class = "list_info">
											<div class = "_info">
												<p style = "color:#fff; font-size:14px;"> Sample Test<p>
												<p style = "color:#83868d;"> Category<p>
											</div>
											<div class = "_info_price">
												<p style = "color:#fedf08; font-size:20px; margin-bottom:5px;">$25<p>
												<p><img src = "images/vide_deal_btn.png" alt = "" /><p>
											</div>
											<div class = "clear"></div>
										</div>
									</li>
									
									
										<li>
										<img src = "images/img-1.png" alt = "" />
										<div class = "list_info">
											<div class = "_info">
												<p style = "color:#fff; font-size:14px;"> Sample Test<p>
												<p style = "color:#83868d;"> Category<p>
											</div>
											<div class = "_info_price">
												<p style = "color:#fedf08; font-size:20px; margin-bottom:5px;">$25<p>
												<p><img src = "images/vide_deal_btn.png" alt = "" /><p>
											</div>
											<div class = "clear"></div>
										</div>
									</li>
									<li>
										<img src = "images/img-2.png" alt = "" />
										<div class = "list_info">
											<div class = "_info">
												<p style = "color:#fff; font-size:14px;"> Sample Test<p>
												<p style = "color:#83868d;"> Category<p>
											</div>
											<div class = "_info_price">
												<p style = "color:#fedf08; font-size:20px; margin-bottom:5px;">$25<p>
												<p><img src = "images/vide_deal_btn.png" alt = "" /><p>
											</div>
											<div class = "clear"></div>
										</div>
									</li>
									<li>
										<img src = "images/img-3.png" alt = "" />
										<div class = "list_info">
											<div class = "_info">
												<p style = "color:#fff; font-size:14px;"> Sample Test<p>
												<p style = "color:#83868d;"> Category<p>
											</div>
											<div class = "_info_price">
												<p style = "color:#fedf08; font-size:20px; margin-bottom:5px;">$25<p>
												<p><img src = "images/vide_deal_btn.png" alt = "" /><p>
											</div>
											<div class = "clear"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div><!-- end of wrap-->
					
					
					
					
					
				</div>
			</div>
			<div id = "footer-area">
				<div id = "footer-top"></div>
				<div id = "footer-wrap">
					<div id = "footer">
						<h2>GET <span style = "color:#fedf08">FREE $25</span> GIFT CARDS FROM OUR PARTICIPATING ADVERTISERS <br />
						Here’s a few easy ways to get you started.</h2>
						<div class = "h-line"><img src = "images/h-line.png" alt = "" /></div>
						<div id = "footer-midbox">
							<div class = "midbox" id = "midb-1">
								<h2>Get $25</h2>
								<p class = "h3_p"><img src = "images/fb-img1.png" alt = "" /> US ON <br />
								FACEBOOK </p>
								<img style = "margin-left:50px; margin-top:10px" src = "images/fb-img.png" alt = "" />
							</div>
							<div class = "midbox" id = "midb-2">
								<h2>Get $25</h2>
								<p class = "h3_p">JOIN OUR e-CLUB</p>
								<div class = "midb">
									<p style = "margin-top:5px;">Subscribe to our email list so we can send you
									exclusive specials.</p>
									<form action = "" method = "" class = "form">
										
										<p><input type = "text" name = "email" placeholder = "Your Email Address" /></p>
										<p><input type="image" src="images/submit-btn.png" /></p>
										
									</form>
									<p>We are serious about our security and your email is
safe with us. We promise not to share your email
with any 3rd parties.</p>
								</div>
							</div>
							<div class = "midbox">
								<h2>Get $25</h2>
								<p class = "h3_p">REFER-A-FRIEND</p>
									<div class = "midb">
										<form action = "" method = "" class = "form">
											
											<p><input type = "text" name = "email" placeholder = "Your Email Address" /></p>
											<p><input type = "text" name = "f-email" placeholder = "Friend's Email Address" /></p>
											<p><input type="image" src="images/submit-btn.png" /></p>
											
										</form>
																		<p>We are serious about our security and your email is
safe with us. We promise not to share your email
with any 3rd parties.</p>
									</div>
							</div>
						</div>
						<div class = "h-line" style = "margin-bottom:15px;"><img src = "images/h-line.png" alt = "" /></div>
						<div id = "section_1" class = "fot_box">
						
						<ul>
							<li><a href = "">Home</a></li>
							<li><a href = "">Auto</a></li>
							<li><a href = "">Family</a></li>
							<li><a href = "">Food & Dining</a></li>
							<li><a href = "">Health & Beauty</a></li>
							
						</ul>
						</div>
						<div id = "section_2" class = "fot_box">
						
							<ul>
								<li><a href = "">Home & Garden</a></li>
								<li><a href = "">Services</a></li>
								<li><a href = "">Shopping</a></li>
								<li><a href = "">Travel & Leisure</a></li>
							</ul>
						</div>
						<div id = "section_3" class = "fot_box">
							<ul>
								<li><a href = "">My Account</a></li>
								<li><a href = "">Contact Us</a></li>
								<li><a href = "">Facebook</a></li>
								<li><a href = "">Terms</a></li>
								<li><a href = "">Privacy Policy</a></li>
							</ul>
						</div>
						<div id = "section_4">
							<ul>
								<li style = "color:#848484; font-size:23px; font-weight:bold;text-shadow:1px 0px 1px #000101;">1.800.560.4135</li>
								<li><a href = "">customerservice@ricktag.ca</a></li>
							</ul>
						</div>
						<div id = "section_5">
							<ul>
								<li>
									<img src = "images/ricktag-footer-logo.png" alt = "" />
									<p>&copy; 2012, Ricktag Rewards.<br />
									All Rights Reserved.</p>
								</li>
	
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--endwrapper-main-->
	</div>
		
	
</body>
</html>